<div class="sidebar">
  <div class="sidebar__channels">
    <h3 class="">Channels</h3>
    <ul id="channels">
      <% channels.forEach(channel => { %>
        <li class="channel__li">
          <a href="../channels/<%= channel.id %>">#<%= channel.name %></a>
        </li>
      <% }) %>
      <li class="channel__li">
        <a href="/channels/create">Create channel</a>
      </li>
    </ul>
  </div>
  <div class="sidebar__users">
    <h3 class="col__header">Direct messages</h3>
    <h2 class="col__header">Click on your name to see profile</h2>
    <ul id="usersUl">
      <% if (users.length > 0) { %>
        <% users.forEach(user => { %>
          <li id="<%= user._id %>">
            <% if (user.profilePhoto) { %>
              <img class="icon_image" src="<%= user.profilePhoto %>" alt="<%= user.name %>">
            <% } %>
            <a href="<%=cssdir%>channels/startDM/<%= user._id %>" class="user__li"><%= user.name %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </div>
</div>