<%- include ('./partials/sidebar') %>
<main class="container main__container">
  <%- include ('./partials/messages') %>
  <% if (typeof channel!=='undefined') { %>
    <section class="row">
      <div class="col__posts">
        <h2><%= channel.name %></h2>
        <% if (channel.description !== '') { %>
          <h3 class="col__header"><%= channel.description %></h3>
        <% } %>
        <h4 class="col__header">Posts in channel</h4>
        <ul id="posts">
          <% if (channel.posts.length > 0) { %>
            <% channel.posts.forEach(post => { %>
              <li class="channel__li">
                <span>By <%= post.by.name %> <%= post.formattedDate %></span>
                  <p><%= post.content %></p>
                  <% if (user._id.toString() === post.by._id.toString() || user.adminUser === true) { %>
                    <span>
                      <a href="/channels/editPost/<%= channel._id %>/<%= post._id %>" >Edit</a>
                      <a href="/channels/deletePost/<%= channel._id %>/<%= post._id %>" >Delete</a>
                    </span>
                  <% } %>
                </li>
              <% }) %>
          <% } %>
        </ul>
      </div>
    </section>
    <section class="container input__container">
      <form id="form2" class="form" method="post" action="../api/<%= channel.id %>" autocomplete="off">
        <div class="f-grow-1">
          <textarea id="content" class="w-100" name="content" autocomplete="off" placeholder="Post content" rows="4" cols="50" required /></textarea>
        </div>
        <input id="submit_btn" class="btn btn__post" type="button" value="Post" />
      </form>
    </section>
  <% } else { %>
    <section class="row">
      <h1>Welcome <%= user.name %></h1>
    </section>
  <% } %>
</main>
<!-- ----------JAVASCRIPT---------- -->
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>
<script src="/public/scripts/main.js"></script>