<%- include ('./partials/messages') %>
<section class="">
  <div class="container main__container row">
    <div class="col__sidebar">
      <h3 class="">Channels</h3>
      <ul id="channels">
        <% channels.forEach(channel => { %>
        <li class="channel__li">
          <a href="../channels/<%= channel.id %>">#<%= channel.name %></a>
        </li>
        <% }) %>
        <li class="channel__li">
          <a href="/home/channels/create">Create channel</a>
        </li>
      </ul>
    </div>
    <div class="col__posts">
      <h2><%= channel.name %></h2>
      <h3 class="col__header">Posts in channel</h3>
      <ul id="posts">
        <% if (channel.posts.length > 0) { %>
          <% channel.posts.forEach(post => { %>
            <li class="channel__li">
              <span>By <%= post.by.name %></>
              <% let formatted_date = post.date.toLocaleDateString('en-gb', date_options) %>
              <% let hours = post.date.getHours() %>
              <% let minutes = post.date.getMinutes() %>
              <span> on <%= formatted_date %> at <%= hours %>:<%= minutes %>:</span>
              <p><%= post.content %></p>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
    <div class="col__users">
      <h3 class="col__header">Users Online</h3>
      <ul id="users"></ul>
    </div>
  </div>
</section>
<section >
  <div class="container main__container row">
    <form id="form2" class="form" method="post" action="../channels/<%= channel.id %>" autocomplete="off">
      <div class="f-grow-1">
        <textarea id="content" class="w-100" name="content" autocomplete="off" placeholder="Post content" rows="4" cols="50" required /></textarea>
        <input type="hidden" id="userEmail" name="userEmail" value="<%= user.email %>">
      </div>
      <input id="submit" class="btn btn__post" type="submit" value="Post" />
    </form>
  </div>
</section>
<!-- ----------JAVASCRIPT---------- -->
<script src="../socket.io/socket.io.js"></script>
<script src="../public/scripts/script.js"></script>
<script src="../public/scripts/channel.js"></script>
