<% if (typeof title==='undefined' ) { title='Wack' } %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/style.css" />
  </head>
  <body>
    <header>
      <div class="container nav__container">
        <div class="logo__wrapper">
          <span class="logo"><a class="nav__link" href="/">wack</a></span>
        </div>
        <nav>
          <ul class="nav__list">
            <% if (typeof user != 'undefined' ) { %>
              <input hidden id="userId" value="<%= user._id %>" />
              <input hidden id="userName" value="<%= user.name %>" />
              <input hidden id="adminUser" value="<%= user.adminUser %>" />
              <input
                hidden
                id="userEmail"
                name="userEmail"
                value="<%= user.email %>"
              />
              <li class="nav__item">
                <span>Logged in as: <%= user.name %></span>
              </li>
              <li class="nav__item">
                <a
                  class="nav__link btn nav__btn"
                  href="/users/signout"
                  >sign out</a
                >
              </li>
            <% } else { %>
              <li class="nav__item">
                <a class="nav__link" href="/signin">sign in</a>
              </li>
              <li class="nav__item">
                <a class="nav__link btn nav__btn" href="/signup">sign up</a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
    <%- body %>
  </body>
</html>
